{% load thumbnail %}
<ul>
    <li>Дата публикации: {{ post.pub_date|date:"d E Y" }}</li>
</ul>
{% thumbnail post.image "960x389" crop="center" upscale=True as im %}
<img class="card-img my-2" src="{{ im.url }}">
{% endthumbnail %}
<p>{{ post.text }}</p>
<article>
    <a href="{% url 'posts:post_detail' post.id  %}">подробная информация</a>
</article>
<article class="col-12 col-md-9">
</article>
{% if post.group %}   
  <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
{% endif %}
<hr>
